body{
  padding: 0;
  margin: 0;
  border: 0;
}

.header-grid {
    grid-area: header;
}

.content-grid {
    grid-area: main;
}

.right-grid {
    grid-area: right;
    padding: 0;
    margin: 0;
    min-height: 100px;
}

.footer-grid {
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'main main main main right right'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container>div {
    background-color: #d7e5fc;
    text-align: center;
    padding: 20px 0;
}

.hidden {
    visibility: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    opacity: 1;
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

.footer {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#programDataTable {
    width: 100%;
}

#programDataTable tr td {
    max-width: 15%;
}

select {
    padding: 0 1em 0 0;
    margin: 0;
    width: 10%;
    font-family: inherit;
    font-size: 0.9em;
    cursor: pointer;
}

.TTM-1 {
    background-color: rgba(202, 231, 215, 0.5);
}

.TTM-2 {
    background-color: rgba(202, 218, 231, 0.5);
}

.TTM-3 {
    background-color: rgba(231, 202, 218, 0.5);
}

.TTM-4 {
    background-color: rgba(231, 215, 202, 0.5);
}

#checkExamTerms {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2vw;
    margin-bottom: 5rem;
}

th, tr, td {
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {

    body,
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}